.side-bar{
  background-color: #FFFFFF;
  backdrop-filter:blur(15px);
  height: 700px;
  width: 210px;
  top:0;
  left: -100%;
  margin: 40px 20px 0px 20px;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
  border-radius: 5px;
}

.side-bar.active{
  left: 0;
}

.side-bar .menu{
  width: 100%;
  margin-top: 50px;
}

.side-bar .menu .item{
  position:relative;
  cursor:pointer;
}

.side-bar .menu .item img{
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

.side-bar .menu .item a{
  color: rgb(7, 6, 6);
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover{
  background: #346CB0;
  transition: 0.3s ease;
  color: white;

}

.side-bar .menu .item i{
  margin-right: 15px;
}

.rotate{
  transform: rotate(90deg);
}

.close-btn{
  position: absolute;
  color: #fff;
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;
}


.menu-btn{
  position: absolute;
  color: #fff;
  font-size: 20px;
  margin: 25px;
  cursor:pointer;
}